# Welcome to Jekyll!
# 
# Refer to the following guideline: https://mmistakes.github.io/minimal-mistakes/docs/configuration/
# Sample file: https://github.com/mmistakes/minimal-mistakes/blob/master/_config.yml
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Indie Garage Blog
title_separator: "-"
subtitle: "Place where your dreams come true"
description: "Microsoft의 AI Business Solutions(M365, Power Platform)과 관련된 정보를 공유하는 블로그입니다."
url: "https://blog.indie-garage.com"
repository: Indie-Garage/blog
# teaser: "/assets/images/bio-photo.jpg" #https://mmistakes.github.io/minimal-mistakes/docs/configuration/#site-default-teaser-image
# logo: #https://mmistakes.github.io/minimal-mistakes/docs/configuration/#site-masthead-logo
# masthead_title: #https://mmistakes.github.io/minimal-mistakes/docs/configuration/#site-masthead-title
minimal_mistakes_skin: default
search: true
copyright: "Indie Garage"
copyright_url: "https://indie-garage.com"
enable_copy_code_button: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 10 # amount of posts to show
paginate_path: /page:num/
timezone: Asia/Seoul # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
date_format: "%Y-%m-%d"

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Indie Garage"
  # avatar : "/assets/images/bio-photo.jpg"
  bio    : "Microsoft의 AI Business Solutions(M365, Power Platform)과 관련된 정보를 공유하는 블로그입니다."
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: &websiteURL "https://indie-garage.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: &githubURL "https://github.com/indie-garage"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: &email "mailto:contact@indie-garage.com"

footer:
  since: "2025"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: *websiteURL
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: *githubURL
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: *email

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      show_date: true
      layout: single
      author_profile: true
      read_time: false
      comments: false #https://mmistakes.github.io/minimal-mistakes/docs/configuration/#comments
      share: false
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
