---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$doc-font-size: 0.9em;
// $type-size-4: 1em; // page__lead
// $type-size-5: 1em; // 


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials